<div
  #container
  *ngIf="!areAllPopped"
  class="bubble-grid"
  [ngStyle]="{ 'grid-template-columns': 'repeat(' + columns + ', ' + bubbleSize + 'px)' }"
>
  <img
    *ngFor="let bubble of listBubbles"
    [src]="bubble.isPopped ? 'assets/img/popped.png' : 'assets/img/bubble.png'"
    (click)="!bubble.isPopped && pop(bubble)"
    [class.popped]="bubble.isPopped"
    class="bubble"
  />
</div>

<div *ngIf="areAllPopped" style="display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;">
    <div *ngIf="killerBubblePressed" class="killer-message">
      💥 Это была КИЛЛЕР-ПУПЫРКА!<br>
      Ты проиграл… но мем тебя утешит
    </div>

    <div *ngIf="!killerBubblePressed" class="win-message">
      💥 ты победил и избежал киллер-пупырку!<br>
      Давай сначала
    </div>

    <img src="assets/img/again.jpg" (click)="playAgain()" matTooltip="Click to play again" style="cursor: pointer;"/>
</div>
